<div>
  <header id="header">
      <nav>
        <!--Componente del header-->
      </nav>
    </header>
    <header>
      <div class="presentacion">
        <img src="assets/Banner.PNG" alt="Foto de la tienda" class="foto">
        <div class="textos">
          <p class="titulo">ElectroDisuar</p>
          <p class="subtitulo">Siempre a tu lado, queremos ser la resistencia de tu diodo</p>
        </div>
      </div>
    </header>
    <main>
      <section class="contenido">
        <section class="galeria">
          <div class="subtitulo1">
            <p>Productos destacados</p>
          </div>
          <article id="carrusel">
            <!--<app-carrusel [productsFiltered]="todos"></app-carrusel>-->
            <swiper-container slides-per-view="3" pagination="true">
              <swiper-slide *ngFor="let producto of productosOfertas" centered-slides="true">
                <app-producto [producto]="producto"></app-producto>
              </swiper-slide>
            </swiper-container>
          </article>
        </section>
        <section class="novedades">
          <div class="subtitulo2">
            <p>Novedades</p>
          </div>
            <article id="carrusel2">
              <!--<app-carrusel [productsFiltered]="filtrados"></app-carrusel>-->
              <swiper-container slides-per-view="3" pagination="true" class="carrusel2">
                <swiper-slide *ngFor="let producto of productos" centered-slides="true">
                  <app-producto [producto]="producto"></app-producto>
                </swiper-slide>
              </swiper-container>
            </article>
        </section>
      </section>
      <div>-</div>
    </main>
  </div>
