<body>
  <header>
    <div class="titulo">
      <p>Perfil de Usuario</p>
    </div>
  </header>  
  <main>
    <section class="informacion">
      <article class="subtitulo1">
        <p class="subtitulo1p">Detalles del Usuario</p>
      </article>
      <article class="detalles">
        <li class="data">Nombre: <p class="username"></p> </li>
        <li class="data">Correo: <p class="usermail"></p> </li>
      </article>
      <article class="favoritos">
        <button class="favoritosbutton">Articulos favoritos</button>
      </article>
    </section>
  </main>
</body>
