<body>
  <header>
    <div class="titulo">
      <p>Perfil de Usuario</p>
    </div>
  </header>  
  <main>
    <section class="informacion">
      <article class="subtitulo1">
        <p class="subtitulo1p">Detalles del Usuario</p>
      </article>
      <article class="detalles">
        <div class="bloqueData">
          <li class="data">Nombre:</li><p class="username"> {{ dataUser }} </p>
        </div>
        <div class="bloqueData">
          <li class="data">Correo: </li> <p class="usermail"> {{ correo }} </p>
        </div>
      </article>
      <article class="favoritos">
        <button class="favoritosbutton">Articulos favoritos</button>
      </article>
    </section>
  </main>
</body>
