.titulo{
    color: white;
    background-color: #03738C;
  }
  
  .titulo p{
    margin: 0;
    padding: 10px;
    font-size: 60px;
    font-family: Arial, Arial, Arial;
  }
  
  .subtitulo{
    color: white;
  }
  
  
  
